module.exports = {
  env: {
    es6: true,
    node: true
  },
  extends: "eslint:recommended",
  parserOptions: {
    sourceType: "module",
    ecmaVersion: 8
  },
  rules: {
    indent: [
      "error",
      2
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    quotes: [
      "error",
      "double"
    ],
    semi: [
      "error",
      "always"
    ],
    "no-underscore-dangle": [
      "error",
      {
        allow: [
          "_id"
        ]
      }
    ],
    "new-cap": [
      "error",
      {
        capIsNewExceptions: [],
        properties: false
      }
    ],
    "no-undef": [
      2
    ],
    "no-param-reassign": [
      "error",
      {
        props: false
      }
    ],
    "max-len": [
      "error",
      180,
      {
        ignoreUrls: true,
        ignoreComments: true,
        ignorePattern: "^\\s*var\\s.+=\\s*require\\s*\\(/"
      }
    ],
    "no-mixed-spaces-and-tabs": [
      0
    ],
    "no-unused-vars": [
      "error",
      {
        args: "none"
      }
    ],
    camelcase: [
      "warn"
    ],
    "no-console": [
      "warn"
    ],
    "no-constant-condition": [
      "off"
    ],
    "no-underscore-dangle": [
      "off"
    ]
  },
  globals: {
    connectsManager: false,
    settings: false,
    moment: false,
    _: false,
    logger: false
  }
};
